<div id="home">
    <div id="title-area">
        <h2>Learn French with flashcards!
            <br />
            <br />
            What does '' mean in english?
            <br />
            <br />
        </h2>
    </div>

    <div id="flashcard-area">
        <div></div>
        <div></div>
        <app-flashcard [wordToDisplay]="'home'" [position]="'left'"></app-flashcard>
        <div></div>
        <app-flashcard [wordToDisplay]="'apple'" [position]="'right'"></app-flashcard>
        <div></div>
        <div></div>
    </div>
</div>