<div id="home">
    <div id="title-area">
        <h2>Learn French with flashcards!
            <br />
            <br />
            What does &#39;<span id="french-word">{{frenchWord}}</span>&#39; mean in english?
            <br />
            <br />
        </h2>
    </div>

    <div id="flashcard-area">
        <div></div>
        <div></div>
        <app-flashcard [wordToDisplay]="currentOptions[0].english" [position]="'left'" (click)="getGivenAnswer(currentOptions[0].english)"></app-flashcard>
        <div></div>
        <app-flashcard [wordToDisplay]="currentOptions[1].english" [position]="'right'" (click)="getGivenAnswer(currentOptions[1].english)"></app-flashcard>
        <div></div>
        <div></div>
    </div>
    <div id="popup-area">
        <app-popup [score]="counter" (retry)="onButtonRetryClicked($event)"></app-popup>
    </div>
    <div id="footer-area">
        <div id="counter">Record: {{counter}}</div>
        <div id="timer">Time: {{currentTimeLeft}} seconds</div>
    </div>
</div>